# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/
*.egg-info/

# Data & Database
*.db
*.sqlite3
*.csv

# Environments
.env
.venv
env/
venv/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist-frontend/
